<!DOCTYPE html>
<html lang="ko" class="bg-dark">
    {{> head}}
  <body class="bg-dark">
    {{> navbar}}


    <header class="bg-dark py-5">
        <div class="container px-5 pt-4 pb-2">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white font-weight-lg mb-2">환경설정</h1>
                        <p class="lead text-white-50 font-weight-md mb-4" id="intro">컨테이너 환경설정을 변경합니다.</p>
                        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#aaa">
                            환경설정 추가

                        </button>



                    </div>
                </div>
            </div>
        </div>
    </header>

<dds-modal
modal-id="aaa"
modal-title="환경설정 추가"
modal-subtitle="컨테이너를 배포하기 전 환경설정을 지정해야 합니다.">
    <dds-content>
        <div class="mb-3">
            <input type="text" id="repo_link" class="form-control bg-dark text-light mb-2" placeholder="깃허브 주소 ex (https://github.com/***.git)">
            <input type="text" id="repo_env" class="form-control bg-dark text-light" value="VIRTUAL_HOST=domain.devent.kr,LETSENCRYPT_HOST=domain.devent.kr,LETSENCRYPT_EMAIL=hhj@devent.kr">

        </div>
    </dds-content>
    <dds-modal-button button-color="btn-primary" is-dismiss="false" onclick="insert()">추가</dds-modal-button>
    <dds-modal-button button-color="btn-dark" button-text-color="text-light" is-dismiss="true">닫기</dds-modal-button>
</dds-modal>

<dds-modal
modal-id="remove_env"
modal-title="환경설정 제거"
modal-subtitle="정말 환경설정을 제거하시겠습니까?">

    <dds-modal-button button-color="btn-danger" is-dismiss="false" id="remove_button" onclick="remove()">네, 제거합니다.</dds-modal-button>
    <dds-modal-button button-color="btn-dark" button-text-color="text-light" is-dismiss="true">아니요</dds-modal-button>
</dds-modal>
    
    <section class="bg-dark py-3" id="features "  style="overflow-x: scroll;">
        <div class="container px-4 my-5 overflow-scroll">
            <div class="row gx-5">
                <table class="table table-dark text-light table-striped ">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">REPO</th>
                        <th scope="col">ENV</th>
                        <th scope="col">CONTROL</th>

                        </tr>
                    </thead>
                    <tbody class="overflow-scroll"  style="overflow: scroll;" id="lists">

                    </tbody>
                </table>

            </div>
        </div>
    </section>



 

    {{> footer}}

    <script>
        let env = new Env();
        let html_body = {
            list: document.querySelector("#lists"),
            repo_link: document.querySelector("#repo_link"),
            repo_env: document.querySelector("#repo_env"),
            remove_button: document.querySelector("#remove_button")

        }

        let remove_modal = new bootstrap.Modal(document.getElementById('remove_env'), {
                keyboard: false
        })

        get()

        async function get() {
            html_body.list.innerHTML = ''
            let body = await env.get('');
            body.data.forEach((element) => {
            html_body.list.insertAdjacentHTML("beforeend", `<tr>
                <td>${element.repo_hash}</td>
                <td>${element.repo_name}</td>
                <td>${element.env}</td>
                <td><button class="btn btn-danger" onclick="removeButtonEvent('${element.repo_hash}')"><i class="fas fa-trash-alt"></i></button></td>

                </tr>`)
            })
        }

        async function insert() {
            let body_name = html_body.repo_link.value
            let body_env = html_body.repo_env.value
            let body = await env.insert(body_name, body_env);

            await get();


        }

        async function removeButtonEvent(hash) {

            html_body.remove_button.setAttribute('onclick', `remove('${hash}')`)
            remove_modal.show()

        }

        async function remove(hash) {

            let body = await env.remove(hash);
            await get();

            remove_modal.hide()

        }

    </script>

  </body>
</html>