<!DOCTYPE html>
<html lang="ko" class="bg-dark">
    {{> head}}
  <body>
    {{> navbar}}


    <header class="bg-dark py-5">
        <div class="container px-5 pt-4 pb-2">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white font-weight-lg mb-2">환경설정</h1>
                        <p class="lead text-white-50 font-weight-md mb-4" id="intro">컨테이너 환경설정을 변경합니다.</p>



                    </div>
                </div>
            </div>
        </div>
    </header>


    
    <section class="bg-dark py-3" id="features">
        <div class="container px-4 my-5">
            <div class="row gx-5">
                <table class="table table-dark text-light table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Repo Name</th>
                    <th scope="col">ENV</th>
                    </tr>
                </thead>
                <tbody id="lists">

                </tbody>
                </table>

            </div>
        </div>
    </section>


 

    {{> footer}}

    <script>
        let env = new Env();
        let html_body = {
            list: document.querySelector("#lists")
        }

        get()

        async function get() {
            let body = await env.get('');
            body.data.forEach((element) => {
            html_body.list.insertAdjacentHTML("beforeend", `<tr>
                <td>${element.repo_hash}</td>
                <td>${element.repo_name}</td>
                <td>${element.env}</td>
                </tr>`)
            })
        }

    </script>

  </body>
</html>