.navbar-blur {
    background-color: #212529d5;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.navbar-brand {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500 !important;
    color: #ffffff !important;
}
.navbar-toggler {
    outline: none;
    border-color: transparent !important;
    box-shadow: transparent;
}

.navbar-toggler > .icon-close {
    display: none;
}


.navbar-toggler:focus {
    box-shadow: none !important;
}

.btn-outline-light:hover {
    color: #212529 !important;
}

.btn-rounded {
    border-radius: 10px;
}


.font-title {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.font-weight-lg {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 700 !important;
}
.font-weight-md {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 500 !important;
    color: #ffffff !important;

}
.font-link {
    color: #ffffff !important;
}

.modal-content {
    background-color: #2b2f33;
}
.modal-title {
    color: #ffffff !important;
}
.lead {
    word-break:keep-all;
}

.fa-bars {
    color: #ffffff;
}
.fa-times {
    color: #ffffff;
}

.card-title{
    font-family: 'Noto Sans KR', sans-serif;

}

.form-textarea{
    border: none !important;
}